.blob_wrapper g:nth-child(odd) path {
  animation: sparkle1 3s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.blob_wrapper g:nth-child(even) path {
  animation: sparkle2 4s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes sparkle1 {
  0%,
  100% {
    transform: scale(1);
  }

  33%,
  66% {
    transform: scale(1.3);
  }
}

@keyframes sparkle2 {
  0%,
  100% {
    transform: scale(1);
  }

  33%,
  66% {
    transform: scale(1.5);
  }
}
