.default_style{
    background-color: var(--white);
    border: none; 
    overflow: hidden;
}

.default_style::after {
    background-color: white;
    position:absolute
}
.default_style svg {
    position: relative;
    z-index:3
}