.lesson_card_wrapper {
  /* Content Box */
  position: relative;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px 0 16px;
  isolation: isolate;

  max-width: 160px;
  min-height: fit-content;
  max-height: 280px;

  /* White */
  background: var(--white);
  /* Shadow/Dark/XL */
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 1;

  transition: transform 0.3s ease;

}

.lesson_card_wrapper:hover{

  /*Animation controls*/
  animation: floating 1.5s ease-in infinite;
  animation-delay: 0.5s;
  transform: translateY(-10px);
}

@keyframes floating {

  0%{

    transform: translateY(-10px);

  }
  50%{

    transform: translateY(-13px);


  }
  100%{
    transform: translateY(-10px);


  }
}



.header_text {
  width:128px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  color: var(--blue-gray);
  margin: 8px 0;

}



.content_text{
  display: block;
  width:128px;
  height: 68px;
  font-size: 12px;
  font-weight: 400;
  line-height:140%;
  color: var(--blue-gray);
  margin: 8px 0;

}

@media (min-width: 768px){
    .lesson_card_wrapper{
        max-width: 200px;
        max-height: 10px;
        padding-top: 12px

    }

    .header_text {
      width:168px;
      height: 44px;
      font-size: 20px;
    }
  
    .content_text{
      display: block;
      width:168px;
      font-size: 14px;
    
    }
}
